/tmp/
/report-main.aux
/report-main.bbl
/report-main.blg
/report-main.dvi
/report-main.glo
/report-main.glsdefs
/report-main.idx
/report-main.log
/report-main.maf
/report-main.mtc
/report-main.mtc0
/report-main.out
/report-main.ps
/report-main.toc
/report-main.xdy

#ignore files we don't need
*~
*.swp
*.backup
*.bk
*.tmp
*.aux
*.old
*.aux
*.bbl
*.blg
*.lof
*.log
*.out
*.ps
*.xml
*.toc
*.tui
*.dvi
*.gz
#*.pdf
._*
#Ignore the annoying file created by Mac
.DS_Store
