/tmp/
/report-main.aux
/report-main.bbl
/report-main.blg
/report-main.dvi
/report-main.glo
/report-main.glsdefs
/report-main.idx
/report-main.log
/report-main.maf
/report-main.mtc
/report-main.mtc0
/report-main.out
/report-main.ps
/report-main.toc
/report-main.xdy
/main.aux
/main.dvi
/main.log
/main.out
/main.ps
